.stack-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 96px;
  margin: auto;
  max-width: 400px;
  min-height: 100vh;
  text-align: center;
  -webkit-box-pack: center;
  justify-content: center;

  .reset-password-title {
    margin: 0px;
    font-weight: 700;
    line-height: 1.5;
    font-size: 2rem;
    font-family: "Public Sans", sans-serif;
  }

  .reset-password-subtitle {
    margin: 10px;
    line-height: 1.57143;
    font-size: 0.875rem;
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    color: rgb(99, 115, 129);
  }

  .reset-form-input {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
